.SearchedChannelItemWrapper:hover {
  cursor: pointer;
}

.SearchedChannelItemContainer {
  font-family: verdana;
  font-size: 14px;
  color: #717274;
  border-bottom: 1px solid #EBEBEB;
  padding: 10px;
  border-radius: 5px;
}

.SearchedChannelItemContainer:hover {
  background-color: #EBF5FC;
}

.ChannelItemNameAndCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4px;
}

.ChannelItemName {
  color: #333437;
}

.ChannelItemCount {
  padding-right: 15px;
}

.ChannelItemDateTime {
  font-size: 12px;
  font-weight: 100;
}

.ChannelMessage {
  margin-top: 5px;
  font-family: verdana;
  font-size: 14px;
  color: #2C2D30;
}

#searchedPersonOutline {
  font-size: 18px;
  line-height: 15px;
  padding-left: 3px;
  padding-right: 1px;
  position: relative;
  top: 3px;
}

.UserFeedWrapper {
  height: 600px;
  overflow: scroll;
}

.SearchedUserItemDiv {
  border-bottom: 1px solid #EBEBEB;
  height: 50px;
  background-color: #FFFFFF;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  cursor:pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.SearchedUserItemDiv:hover {
  background-color: #EBF5FC;
}

.SearchedUserImage {
  height: 40px;
  width: 40px;
  margin-right: 13px;
}

.UserSearchInput {
  flex-grow: 1;
  height: 45px;
  outline: none;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-left: 7px;
  margin-bottom: 2px;
}

.UserSearchInputDiv {
  min-height: 45px;
  min-width: 520px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  justify-content: space-between;
  border: 1px solid black;
}

.GoButton {
  height: 45px;
  width: 65px;
  background-color: #26A868;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}

.Disabled {
  background-color: #CDCECE;
  cursor: default;
}
