.splashNav {
  background-color: #FFFFFF;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  line-height: 80px;
  border-bottom: 1px solid #EBEBEB;
}

.leftSplashNav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.midSplashNav{
  flex-grow: 23;
}



.splashIconInnerDiv {
  height: 65px;
  width: 65px;
  padding-top: 10px;
  padding-left: 20px;
}

.title {
  margin-left: -3px;
  font-size: 30px;
  font-weight: bold;
}

.rightSplashNav {
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 25px;
}

.rightSplashNavInnerDiv {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}

.rightSplashNavInnerDiv a {
  height: 50px;
}

.guestLoginButton {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  width: 150px;
  margin-top:8px;
  line-height: 41px;
  background-color: #4049AA;
  border-radius: 7px;
  color: white;
  padding: 0% 10%;
  cursor: pointer;
}

#logout {
  background-color: white;
  border-radius: 3px;
}
