.splashbody {
  display: flex;
  flex-direction: row;
}

.splashimagecontainer{
  width: 600px;
  height: 600px;
}

.splashimage {
  height: 450px;
  width: 450px;
  padding-top: 50px;
  padding-left: 75px;
  padding-right: 50px;
}

.splashimage img {
  width: 100%;
}

.splashform h3 {
  font-size: 30px;
  padding-top: 80px;
}

.splashform a {
  color: blue;
  text-decoration: underline;
}
.splashform a:hover {
  cursor:pointer;
  background-color: #FFDCC7;
}

.splashform input {
  border: 0.5px solid #EEEEEE;
}
