.MessageFeedWrapper {
  min-height: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-y: scroll;
  max-height: 860px;
  height: 85%;
}

.MessageItemWrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 2px;
  cursor: default;
  display: flex;
  flex-direction: row;
}

.MessageItemInfoAndBody {
  max-width: 95%;
}

.MessageItemInfo {
  min-width: 185px;
}

.MessageItemImage {
  min-width: 50px;
}

.MessageItemBody {
  margin-top: 3px;
  max-width: 95%;
  overflow-wrap: break-word;
  line-height: 100%;
}

.AuthorName {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.Time {
  color: #8D8E8F;
  font-size: 12px;
}

#AccountBox {
  font-size: 42px;
}


.MessageItemWrapper:hover {
  background-color: #F9F9F9;
}

.NextMessageTime {
  width: 50px;
  font-size: 12px;
  line-height: 100%;
  padding-top: 5px;
}

.NextMessageItemTimeAndBody {
  width: 95%;
  display: flex;
  flex-direction:row;
}

.TimeDiv {
  color: #8D8E8F;
  width: 100%;
  height: 100%;
}
