.NewDayandMessageItem {
}

.newDayDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  overflow:hidden;
  position: -webkit-sticky;
  position: sticky;
  top: -10px;
}

.pill {
  position:relative;
  padding-left: 7px;
  padding-right: 7px;
}

.dateTab {
  min-width:0;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #505053;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  position:relative;
}

.dateTab::before,
.dateTab::after {
 background-color: #E8E8E8;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 flex-grow: 1;
}
