.upperNavContainer {
  background-color: white;
  display: block;
  width: 100%;
  max-height: 70px;
  padding: 15px;
  border-bottom: 1px solid #E8E8E8;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.upperNavLeftContainer {
  width: 30%;
}

.navTitle {
  min-width: 200px;
}

.userCount {
  color: #939495;
  font-size: 13px;
  font-family: verdana;
  font-weight: lighter;
  position: relative;
  top: 7px;
  right: 2px;
}

#starBorder {
  font-size: 17px;
  margin-right: 4px;
  position: relative;
  top: 3px;
}

#personOutline {
  font-size: 18px;
  border-left: 1px solid #E8E8E8;
  line-height: 15px;
  padding-left: 3px;
  padding-right: 1px;
  position: relative;
  top: 3px;
}
