.ChatInputWrapper {
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 15px;
  padding-top: .5px;
}

.ChatInputInnerDiv {
  width: 95%;
  min-width: 0;
  flex-grow: 1;
  display:flex;
  border: 2px solid #717274;
  border-radius: 5px;
}

.PlusButton {
  border-right: 2px solid #717274;
  display:flex;
}

#AddButton {
  align-self: flex-end;
  line-height: 45px;
  color: #8D8E8F;
  margin-left: 3px;
  margin-right: 3px;
}

.TextInput {
  min-width: 400px;
  margin-left: 3px;
  background-color: white;
  width: 100%;
  padding: 5px;
  height: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.emojiPickerButton {
  display: flex;
}

#AddEmojiFace {
  align-self: flex-end;
  line-height: 45px;
  margin-right: 5px;
  cursor:pointer;
}
#AddEmojiFace:hover {
  font-size: 32px;
}
