.ChatInputWrapper {
  height: 300px;
  width: 300px;
  background-color: green;
}

.TextInput {
  height: 150px;
  width: 150px;
}

.SubmitMessageButtonWrapper {
  height: 50px;
  width: 50px;

}

.SubmitMessageButton {
  height: 30px;
  width: 30px;
  background-color: blue;
}
