.thumb {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.thumbWrapper {
  margin:3px;
}

.thumb:after {
  content: attr(title);
  display: none;
  position: absolute;
  left: 35%;
  transform: translateX(-45%);
  bottom: 43px;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}

.thumb:before {
  content: "";
  display: none;
  position: absolute;
  left: 35%;
  transform: translateX(-250%);
  top: -8px;
  border-top: 8px solid #000;
  border-bottom: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.thumb:hover:before,
.thumb:hover:after {
  display: block;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.thumb:hover {
  cursor:pointer;
  color: #FFFFFF;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.ChannelCategoryRow {
  max-height: 400px;
}

.ChannelRow {
  list-style: none;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected {
  background-color: #499789;
  color: #FFFFFF;
}
.ChannelRow:hover {
  background-color: #3E323C;
  cursor: pointer;
  font-weight: lighter;
}

.selected:hover {
  background-color: #499789;
  color: #FFFFFF;
}

.ChannelRowInnerDiv {
  margin-right: 10px;
}

#leaveChannel {
  font-size: 20px;
  position: relative;
  vertical-align: top;
  bottom: -7px;
  line-height: 0px;
}

#leaveChannel:hover {
  color: #FFFFFF;
}

#number {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
