.ChannelTableContainer {
  height: 100vh;
  min-width: 194px;
  width: 12%;
  background-color: #4C3A4A;
  color: #A696A4;
  font-family: 'Montserrat', sans-serif;
}

.ChannelTableUpperDivOuter {
  height: 70px;
  color: #A696A4;
  font-size: 16px;
  padding: 15px;
}

.ChannelTableUpperDivOuter:hover {
  background-color: #3E323C;
}

.WorkSpace {
  color: white;
}

.toggleDropdown {
  position: absolute;
  height: 130px;
  width: 170px;
  background-color: white;
  top: 45px;
  left: 120px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  z-index: 3;
}

.LogoutButton {
  padding-top: 5px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #D9D9D9;
  left: 10px;
}

.ImageSubmitWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fileUploadInputLabel {
  padding-top: 5px;
  left: 10px;
  margin: 0 auto;
  text-align: center;
  position:absolute;
  bottom: 53px;
  width: 90%;
  cursor: pointer;
  border-top: 1px solid #D9D9D9;
  color: #2E309F;
}

#iconpreview {
  position: absolute;
  left: 63px;
  top: 4px;
  border: 1px solid black;
  border-radius: 3px;
}

#fileUploadInput {
  display: none;
}

.imageSubmitDiv {
  padding-top: 5px;
  left: 10px;
  margin: 0 auto;
  text-align: center;
  position:absolute;
  bottom: 25px;
  width: 90%;
  cursor: pointer;
  color: black;
  border-top: 1px solid #D9D9D9;
}

#downarrow {
  position: relative;
  top: 7px;
  color: #A696A4;
}

#downarrow:hover {
  cursor: pointer;
}

.nameAndButton {
  display: flex;
}

#greenbutton {
  font-size: 11px;
  background-color: #3D968C;
  height: 11px;
  width: 11px;
  border-radius: 100%;
  margin-top: 5px;
  margin-right: 5px;
}

/* .ChannelTableUpperDivInner {
  margin: 15px;
} */
